
@import _map.scss
@import calender.scss



$page_width: 1044px


.top_header_wrapper
	background: #FFF
	width: 100%

.top_header
	background: #FFF
	height: 80px
	width: $page_width
	margin: 0 auto
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	.logo
		width: 20%
		img
			display: block
			width: 150px
	.search_w
		width: 50%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		position: relative
		.advance_search
			display: block
			width: 96px
			height: 38px
			background: #419fe3
			color: #FFF
			border-radius: 4px
			margin-left: 5px
			font-size: 16px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
		.top_search
			width: 400px
			height: 38px
			border-radius: 4px
			border: solid 1px #cccccc
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			
			.mainsearch
				width: 370px
				border: none
				height: 30px
				outline: 0
				padding-left: 10px
				&::placeholder
					color: #cccccc
			i 
				color: #419fe3
				margin-right: 10px
				cursor: pointer

	.top_mention
		height: 50px
		width: 30%
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		.font_size
			margin-left: 40px
			cursor: pointer
			position: relative
					
			.font_size_message
				display: none
				position: absolute
				width: 100px
				// height: 120px
				background: #FFF
				border-radius: 3px
				z-index: 1000
				box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
				right: -20px
				top: 30px
				.font_size_list
					display: block
					padding: 0 16px
					height: 36px
					color: #444
					border-bottom: 1px solid #DDD
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					&:hover
						background: rgba(65, 159, 227, 0.1)
		.alert
			margin-left: 40px
			position: relative
			cursor: pointer
			i 
				font-size: 18px
			.num
				position: absolute
				width: 22px
				height: 22px
				background: #f5a623
				font-size: 12px
				color: #FFF
				border-radius: 3px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				right: -15px
				top: -12px
			.alert_message
				display: none
				position: absolute
				width: 239px
				// height: 120px
				background: #FFF
				border-radius: 3px
				z-index: 1000
				box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
				right: -20px
				top: 30px
				.message_list
					display: block
					padding: 0 16px
					height: 36px
					color: #444
					border-bottom: 1px solid #DDD
					display: flex
					flex-direction: row
					justify-content: space-between
					align-items: center
					.branch
					.plop
						span
							color: #f5a623
							font-size: 16px
							font-weight: 900
							margin-left: 20px
					&:hover
						background: rgba(65, 159, 227, 0.1)

				

		.member
			margin-left: 40px
			cursor: pointer
			i 
				font-size: 14px


.advance_search_dropdown
	position: absolute
	display: none
	width: 550px
	// height: 478px
	border-radius: 3px
	background: #f2f2f2
	box-shadow: 2px 6px 13px 0 rgba(0, 0, 0, 0.2)
	top: 45px
	left: 0
	z-index: 5000
	.search_duration
		padding: 20px 24px
		background: #FFF
		.period
			width: 100%
			height: 38px
			border: 1px solid #ccc
			padding: 0 10px
			color: #444
			display: flex
			flex-direction: row
			justify-content: flex-satrt
			align-items: center
		.calender_period
			height: 250px
	.advance_search_title
		height: 28px
		font-size: 14px
		padding: 0 24px
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-satrt
		align-items: center
	.advance_search_row
		// height: 50px
		background: #FFF
		padding: 7px 24px
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-satrt
		align-items: center
		.checkbox_item
			margin: 7px 0
			margin-right: 18px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			label
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				.select_type
					margin-right: 4px
					width: 16px
    				height: 16px
				p
					font-size: 16px
					color: #2e2e2e
	.dropdown_fun_row
		background: #FFF
		height: 58px
		padding: 0 24px
		box-shadow: 0 -6px 13px 0 rgba(0, 0, 0, 0.2)
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		.dropdown_reset
			width: 30%
			cursor: pointer
			color: #419fe3
		.dropdown_btn
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center
			width: 70%
			.cancle
				width: 96px
				height: 38px
				background: #eee
				color: #444
				cursor: pointer
				margin-left: 10px
				border-radius: 3px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
			.submit
				width: 96px
				height: 38px
				background: #419fe3
				color: #FFF
				cursor: pointer
				margin-left: 10px
				border-radius: 3px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center




.show_show
	display: block !important

.footer_wrapper
	background: #444
	footer
		width: $page_width
		margin: 0 auto
		.footer_switch
			height: 100px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: flex-satrt
			.footer_switch_btn
				width: 80px
				height: 30px
				background: #888
				border-radius: 0 0 3px 3px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				color: #FFF
				font-size: 12px
				i
					margin-right: 5px
		.f_list
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: flex-start
			font-size: 14px
			padding-bottom: 20px
			border-bottom: 1px solid rgba(255, 255, 255, 0.1)

			.f_list_item
				width: 12%
				.f_list_item_title
					height: 40px
					color: #FFF
					margin-bottom: 20px
					font-weight: 700
					display: flex
					flex-direction: row
					justify-content: flex-start
					align-items: center
					border-bottom: 1px solid rgba(255, 255, 255, 0.1)
				.f_list_item_column
					.f_list_item_link
						display: block
						margin-bottom: 12px
						color: #FFF
						font-weight: 300
		.footer_bottom
			display: flex
			flex-direction: row
			justify-content: center
			align-items: flex-start
			border-bottom: 1px solid rgba(255, 255, 255, 0.1)

			.footer-a
				margin: 20px 20px
				a
					font-size: 14px
					color: #FFF
					display: block
					margin-bottom: 16px
					margin-top: 12px
				p 
					font-size: 14px
					color: #FFF
					line-height: 1.8
				img
					display: block
					margin-bottom: 20px

.copy_right
	width: 100%
	padding: 10px 0
	color: #FFF
	font-size: 12px
	text-align: center
		
.top_header_menu
	background: #27669c
	height: 54px
	margin-bottom: 0px
	border-top: 1px solid #eee
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	ul
		margin: 0 auto
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		li
			position: relative
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			a
				display: block
				height: 60px
				color: #FFF
				font-size: 16px
				padding: 0 35px
				font-weight: 700
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				position: relative
				.bottom_line
					position: absolute
					width: 100%
					height: 3px
					bottom: 3px
					background: #f5a623
					opacity: 0
					transition: all .2s
				&:hover
					// background: #222
					.bottom_line
						opacity: 1
			ul
				position: absolute
				display: block
				width: 140px
				background: #FFF
				border-radius: 3px
				padding: 5px 0
				z-index: 1000
				visibility: hidden
				box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2)
				opacity: 0
				top: 60px
				left: 0px
				transition: all .3s
				li
					a
						display: block
						height: auto
						width: 140px
						color: #27669c
						height: 39px
						font-size: 14px
						background: #FFF
						border-bottom: 1px solid #dddddd
						line-height: 1.5
						padding: 10px 0
						text-align: center
						transition: all .3s
						&:hover
							background: #27669c
							color: #FFF
			&:hover
				ul
					visibility: visible
					opacity: 1	
					
.menu_self
	color: #FFF !important	
	.bottom_line
		opacity: 1  !important	
			


.index_setting
	width: $page_width
	margin: 0 auto
	margin-top: 18px
	margin-bottom: 16px
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: center
	.setting_btn
		color: #419fe3
		font-size: 12px
		margin-right: 10px
	.setting_mockup
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		.edit_btn
			display: block
			
			width: 96px
			height: 38px
			background: #83bc49
			color: #FFF
			border-radius: 3px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			margin-left: 12px
		.add_btn
			display: block
			width: 96px
			height: 38px
			background: #419fe3
			color: #FFF
			border-radius: 3px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			margin: 0 12px



.fun_item_wrapper
	width: $page_width - 20px
	margin: 0 auto
	margin-bottom: 20px
	padding: 0 10px
	background: #FFF
	border-radius: 3px
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	position: relative
	.w_fun_item
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
	.main_fun_edit
		position: absolute
		width: 30px
		height: 30px
		right: 0px
		top: 10px
		color: #666666
	.main_edit_dropdown
		display: none
		position: absolute
		width: 212px
		// height: 120px
		background: #FFF
		border-radius: 3px
		z-index: 1000
		box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
		right: 10px
		top: 30px
		.dropdown_list
			display: block
			padding: 0 16px
			height: 36px
			border-bottom: 1px solid #DDD
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			span
				color: #444
				font-size: 16px
				font-weight: 400		
			&:hover
				background: rgba(65, 159, 227, 0.1)

	

	.fun_item
		background: #FFF
		width: 128px
		height: 150px
		padding: 12px
		// border-right: 1px solid #dddddd
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		cursor: pointer
		padding-top: 35px
		transition: all .3s
		position: relative
		p
			font-size: 16px
			margin-top: 10px
			text-align: center
		&:after
			content: ""
			position: absolute
			width: 1px
			height: 50%
			background: #e8eaec
			top: 25%
			right: 0
			// z-index: -1000
		i 
			font-size: 24px
		&:hover
			background: #fafafa
			transform: scale(1.08)
			// border: 1px solid #59778c
		&:nth-last-child(1)
			&:after
				content: ""
				display: none
				

	.fun_item_add
		background: #FFF
		width: 128px
		height: 150px
		padding: 10px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: #419fe3
		cursor: pointer
		transition: all .3s
		&:hover
			background: #FFF
			transform: scale(1.08)
			border: 1px solid #59778c


		
			
	
	


.grid_section
	width: $page_width
	// background: #eee
	margin: 0 auto
	color: #FFF
	




@mixin block_style 
	background: #f6f8fa
	border: 1px solid rgba(0,0,0,.1)
	// border-radius: 3px 3px 0 0
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	padding: 0px
	border-radius: 4px
	background-color: #ffffff
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
	position: relative


.block_title
	height: 46px
	width: 100%
	border-bottom: 1px solid #eee
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding: 0 25px
	font-weight: bold
	.front
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		color: #59778c
		i 
			margin-right: 5px
		h6
			font-size: 16px
			color: #59778c
.fun_icons
	width: 80px
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: flex-end
	color: #ddd
	position: relative
	
	.fun_edit
		margin-right: 12px
	.fun_delete
		margin-left: 12px
	i
		color: #ddd
		cursor: pointer
		transition: all .3s
		&:hover
			color: #888

	.edit_dropdown
		display: none
		position: absolute
		width: 212px
		// height: 120px
		background: #FFF
		border-radius: 3px
		z-index: 1000
		box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
		right: 0px
		top: 30px
		.dropdown_list
			display: block
			padding: 0 16px
			height: 36px
			border-bottom: 1px solid #DDD
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			span
				color: #444
				font-size: 16px
				font-weight: 400		
			&:hover
				background: rgba(65, 159, 227, 0.1)








.index_calender
	+block_style
	.index_calender_wrapper
		width: 100%
		height: 100%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		.index_calender_detail
			width: 50%
			height: 100%
			// background: #282
			position: relative
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
		.index_calender_info
			width: 50%
			height: 100%
			// background: #289
			padding: 20px
			overflow-y: scroll
			.info_event
				border-bottom: 1px solid #ddd
				padding-bottom: 10px
				margin-bottom: 15px
				.info_event_date
					color: #999999
					font-size: 12px
					margin-bottom: 13px

				.info_event_text
					color: #444
					font-size: 16px	
					margin-bottom: 13px
					line-height: 21px

				.info_event_situation	
					.s-blue
						background: #419fe3
						padding: 5px 10px
						border-radius: 20px
						float: left
						margin-right: 10px
						font-size: 12px

					.s-grey
						background: #CCC
						padding: 5px 10px
						border-radius: 20px
						float: left
						margin-right: 10px
						font-size: 12px

					.s-orange
						background: #f5a623
						padding: 5px 10px
						border-radius: 20px
						float: left
						margin-right: 10px
						font-size: 12px


.index_attendance_records
	+block_style
	.index_attendance_records_time
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		.index_attendance_records_date
			width: 40%
			height: 250px
			padding: 0 20px
			// background: #289
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
			.i-year
				color: #666
				font-size: 18px
				margin-bottom: 12px

			.i-today
				color: #59778c
				font-size: 36px
				margin-bottom: 12px
				font-weight: 900
			.i-week
				color: #666
				font-size: 18px
				margin-bottom: 12px

		.index_attendance_records_clock
			width: 60%
			height: 250px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center

	.index_attendance_records_data
		width: 100%
		padding: 0 20px
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.records_item_title
			font-size: 18px
			color: #59778c
			margin-right: 30px

		.records_item
			font-size: 18px
			color: #444
			font-weight: 700
		.records_lll
			width: 1px
			height: 18px
			background: #ddd
			margin: 0 14px



.index_news
	+block_style 
	background: #FFF
	.tab_wrapper
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		.tab_section
			width: 100%
			height: 46px
			background: #FFF
			padding: 0 24px
			border-bottom: 1px solid #DDD
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			color: #59778c
			font-weight: 700
			.tab_unit
				width: 100%
				height: 46px
				background: #FFF
				padding: 0 24px
				border-bottom: 1px solid #DDD
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				color: #59778c
				font-weight: 700
				.tab_btn
					// width: 99px
					height: 46px
					display: flex
					flex-direction: row
					justify-content: center
					align-items: center
					margin: 0 15px
					position: relative
					// background: #289
					h6
						font-size: 16px
					i
						margin-right: 3px
	
	.index_news_content
		width: 100%
		.content_row
			height: 38px
			padding: 0 24px
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			&:nth-child(even)
				background: #fafafa
			.cos_a
				width: 25%
				color: #444
				font-size: 16px

			.cos_b
				width: 50%
				color: #444
				font-size: 16px

			.cos_c
				width: 25%
				color: #444
				font-size: 16px





.index_schedule
	+block_style 
	background: #FFF
	.index_schedule_content
		width: 100%
		margin-top: 20px
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center






.search_section
	width: 100%
	height: 52px
	border-bottom: 1px solid #eee
	background: #fafafa
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	
	.i-input
		margin-right: 10px
		width: 320px
		height: 36px
		border-radius: 4px
		background: #FFF
		border: solid 1px #cccccc
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.index_news_input
			width: 290px
			height: 30px
			border: none
			background: #FFF
			padding-left: 10px
			&::placeholder
				color: #ccc
		i 
			color: #419fe3

	.i-select
		.index_news_select
			width: 104px
			height: 36px
			border-radius: 4px
			border: solid 1px #cccccc
			background: #FFF


.on_self
	border-bottom: 2px solid #419fe3 !important
	color: #419fe3 !important
	h6
		color: #419fe3 !important

.index_links
	+block_style 

.index_contacts
	+block_style 
	

.index_department_calender
	+block_style 
	



.and_more
	width: 100%
	display: block
	padding-right: 20px
	color: #419fe3
	font-size: 14px
	font-weight: 700
	margin-top: 16px
	text-align: right
	



@mixin links_table
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	.link_name
		height: 36px
		width: 80%
		color: #222
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		color: #419fe3
	.link_bureau
		height: 36px
		width: 20%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center

	
.links
	width: 100%
	.links_title
		+links_table
		background: rgba(65, 159, 227, 0.05)
		.link_name
			color: #59778c
		.link_bureau
			color: #59778c
	.links_row
		+links_table
		&:nth-child(odd)
			background: #fafafa



		
@mixin contacts_table
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	.contacts_name
		height: 36px
		width: 30%
		color: #222
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		color: #419fe3
	.contacts_bureau
		height: 36px
		width: 40%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center	
	.contacts_tel
		height: 36px
		width: 30%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center


.contacts
	width: 100%
	.contacts_title
		+contacts_table
		background: rgba(65, 159, 227, 0.05)
		.contacts_name
			color: #59778c
		.contacts_bureau
			color: #59778c		
		.contacts_tel
			color: #59778c

	.contacts_row
		+contacts_table
		&:nth-child(odd)
			background: #fafafa
		


.edit_layout
	width: 764px
	height: 530px
	background: #FFF
	margin: 0 auto
	position: relative
	overflow: scroll
	.edit_layout_title
		height: 54px
		border-bottom: 1px solid #eee
		margin-bottom: 30px
		font-size: 16px
		color: #444
		font-weight: 900
		padding-left: 25px
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.edit_layout_row
		width: 92%
		margin: 0 auto
		margin-bottom: 35px
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.edit_layout_item	
			width: 23%
			margin: 0 1.55%
			.thunmnail
				
				border: 1px solid #ddd
				margin-bottom: 12px

			h6
				font-size: 16px
				color: #444
				margin-bottom: 12px
			p 
				font-size: 12px
				color: 666px
				margin-bottom: 12px
				color: #666
			.add_fun
				width: 96px
				height: 38px
				border-radius: 3px
				background: #419fe3
				color: #FFF
				cursor: pointer
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
			.cancel_fun
				width: 96px
				height: 38px
				border-radius: 3px
				background: #dddddd
				color: #FFF
				cursor: pointer
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
	






