
@import _map.scss



$page_width: 1400px




.top_header
	background: #FFF
	height: 120px
	width: $page_width
	margin: 0 auto
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	.logo
		width: 20%
		img
			display: block
			width: 180px
	.top_search
		height: 50px
		width: 50%
		input[type="text"]
			width: 90%
			height: 40px
	.alert
		height: 50px
		width: 30%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		color: #555
		svg
			margin-right: 10px
	




	
		
.top_header_menu
	background: #00a0c7
	height: 60px
	width: 100%
	margin-bottom: 30px
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	.lil
		height: 14px
		width: 1px
		background-color: #FFF
		margin: 0 10px
		display: block

	ul
		width: $page_width
		margin: 0 auto
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		li
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			a
				display: block
				height: 60px
				color: #FFF
				font-size: 20px
				padding: 0 35px
				font-weight: 700
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				transition: all .3s
				&:hover
					background: #222
			

.fun_item_wrapper
	width: $page_width
	margin: 0 auto
	padding: 0 10px
	margin-bottom: 40px
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	p
		font-size: 16px
		margin-top: 10px
		text-align: center
		color: #222
	.fun_item
		width: 12.5%
		height: 150px
		padding: 25px
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		border: 1px solid #eee
		cursor: pointer
		transition: all .3s
		&:hover
			background: #eee
			transform: scale(1.1)	
	.fun_item_add
		width: 12.5%
		height: 150px
		padding: 25px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		border: 1px solid #eee
		color: #888
		cursor: pointer
		transition: all .3s
		&:hover
			background: #FFF
			transform: scale(1.1)

		
			















.grid_section
	width: $page_width
	// background: #eee
	margin: 0 auto
	color: #FFF
	font-size: 30px
	


.index_calender
	background: #190
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	



.index_attendance_records
	background: #819
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	

.index_news
	background: #123
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	



.index_links
	background: #123
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	


.index_contacts
	background: #123
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	

.index_department_calender
	background: #123
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	



















