
@import _map.scss



$page_width: 1044px


.top_header_wrapper
	background: #FFF
	width: 100%

.top_header
	background: #FFF
	height: 80px
	width: $page_width
	margin: 0 auto
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	.logo
		width: 20%
		img
			display: block
			width: 150px
	.search_w
		width: 50%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.advance_search
			display: block
			width: 96px
			height: 38px
			background: #419fe3
			color: #FFF
			border-radius: 4px
			margin-left: 5px
			font-size: 16px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
		.top_search
			width: 400px
			height: 38px
			border-radius: 4px
			border: solid 1px #cccccc
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			
			.mainsearch
				width: 370px
				border: none
				height: 30px
				outline: 0
				padding-left: 10px
				&::placeholder
					color: #cccccc
			i 
				color: #419fe3
				margin-right: 10px
	.top_mention
		height: 50px
		width: 30%
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		.font_size
			margin-left: 40px
			cursor: pointer
		.alert
			margin-left: 40px
			position: relative
			cursor: pointer
			i 
				font-size: 18px
			.num
				position: absolute
				width: 22px
				height: 22px
				background: #f5a623
				font-size: 12px
				color: #FFF
				border-radius: 3px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				right: -15px
				top: -12px
		.member
			margin-left: 40px
			cursor: pointer
			i 
				font-size: 14px

	
		
.top_header_menu
	background: #FFF
	height: 54px
	margin-bottom: 30px
	border-top: 1px solid #eee
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	ul
		
		margin: 0 auto
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		li
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			a
				display: block
				height: 60px
				color: #59778c
				font-size: 16px
				padding: 0 35px
				font-weight: 700
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center
				position: relative
				.bottom_line
					position: absolute
					width: 100%
					height: 3px
					bottom: 3px
					background: #419fe3	
					opacity: 0
					transition: all .2s
				&:hover
					// background: #222
					.bottom_line
						opacity: 1	
					
.menu_self
	color: #419fe3 !important	
	.bottom_line
		opacity: 1  !important	
			


.index_setting
	width: $page_width
	margin: 0 auto
	margin-bottom: 16px
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: center
	.setting_btn
		color: #419fe3
		font-size: 12px
		margin-right: 10px

.fun_item_wrapper
	width: $page_width
	margin: 0 auto
	margin-bottom: 20px
	padding: 0 10px
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	
	p
		font-size: 16px
		margin-top: 10px
		text-align: center

	.fun_item
		background: #FFF
		width: 128px
		height: 150px
		padding: 12px
		// border-right: 1px solid #dddddd
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		cursor: pointer
		padding-top: 35px
		transition: all .3s
		position: relative
		&:after
			content: ""
			position: absolute
			width: 1px
			height: 50%
			background: #e8eaec
			top: 25%
			right: 0
			// z-index: -1000
		i 
			font-size: 24px
		&:hover
			background: #fafafa
			transform: scale(1.08)
			// border: 1px solid #59778c
	.fun_item_add
		background: #FFF
		width: 128px
		height: 150px
		padding: 10px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: #419fe3
		cursor: pointer
		transition: all .3s
		&:hover
			background: #FFF
			transform: scale(1.08)
			border: 1px solid #59778c


		
			
	
	


.grid_section
	width: $page_width
	// background: #eee
	margin: 0 auto
	color: #FFF
	




@mixin block_style 
	background: #f6f8fa
	border: 1px solid rgba(0,0,0,.1)
	// border-radius: 3px 3px 0 0
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	padding: 0px
	border-radius: 4px
	background-color: #ffffff
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
	position: relative


.block_title
	height: 46px
	width: 100%
	border-bottom: 1px solid #eee
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding: 0 25px
	font-weight: bold
	.front
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		color: #59778c
		i 
			margin-right: 5px
		h6
			font-size: 16px
			color: #59778c
	.fun_icons
		i
			color: #ddd









.index_calender
	+block_style 



.index_attendance_records
	+block_style
	.index_attendance_records_time
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		.index_attendance_records_date
			width: 40%
			height: 250px
			padding: 0 20px
			// background: #289
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
			.i-year
				color: #666
				font-size: 18px
				margin-bottom: 12px

			.i-today
				color: #59778c
				font-size: 36px
				margin-bottom: 12px
				font-weight: 900
			.i-week
				color: #666
				font-size: 18px
				margin-bottom: 12px

		.index_attendance_records_clock
			width: 60%
			height: 250px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center

.index_news
	+block_style 
	background: #FFF
	.tab_section
		width: 100%
		height: 46px
		background: #FFF
		padding: 0 24px
		border-bottom: 1px solid #DDD
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		color: #59778c
		font-weight: 700
		.tab_btn
			// width: 99px
			height: 46px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			margin: 0 15px
			position: relative
			// background: #289
			h6
				font-size: 16px
			i
				margin-right: 3px
		

	
	.index_news_content
		width: 100%
		.content_row
			height: 38px
			padding: 0 24px
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			&:nth-child(even)
				background: #fafafa
			.cos_a
				width: 25%
				color: #444
				font-size: 16px

			.cos_b
				width: 50%
				color: #444
				font-size: 16px

			.cos_c
				width: 25%
				color: #444
				font-size: 16px


.search_section
	width: 100%
	height: 52px
	border-bottom: 1px solid #eee
	background: #fafafa
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	
	.i-input
		margin-right: 10px
		width: 320px
		height: 36px
		border-radius: 4px
		background: #FFF
		border: solid 1px #cccccc
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.index_news_input
			width: 290px
			height: 30px
			border: none
			background: #FFF
			padding-left: 10px
			&::placeholder
				color: #ccc
		i 
			color: #419fe3

	.i-select
		.index_news_select
			width: 104px
			height: 36px
			border-radius: 4px
			border: solid 1px #cccccc
			background: #FFF


.on_self
	border-bottom: 2px solid #419fe3 !important
	color: #419fe3 !important
	h6
		color: #419fe3 !important

.index_links
	+block_style 

.index_contacts
	+block_style 
	

.index_department_calender
	+block_style 
	



.and_more
	width: 100px
	display: block
	float: right

	color: #419fe3
	font-size: 14px
	font-weight: 700
	margin-top: 16px
	text-align: right
	margin-right: 30px
	



@mixin links_table
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	.link_name
		height: 36px
		width: 80%
		color: #222
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		color: #419fe3
	.link_bureau
		height: 36px
		width: 20%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center

	
.links
	width: 100%
	.links_title
		+links_table
		background: rgba(65, 159, 227, 0.05)
		.link_name
			color: #59778c
		.link_bureau
			color: #59778c
	.links_row
		+links_table
		&:nth-child(odd)
			background: #fafafa



		
@mixin contacts_table
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	padding: 0 24px
	.contacts_name
		height: 36px
		width: 30%
		color: #222
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		color: #419fe3
	.contacts_bureau
		height: 36px
		width: 40%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center	
	.contacts_tel
		height: 36px
		width: 30%
		color: #444
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center


.contacts
	width: 100%
	.contacts_title
		+contacts_table
		background: rgba(65, 159, 227, 0.05)
		.contacts_name
			color: #59778c
		.contacts_bureau
			color: #59778c		
		.contacts_tel
			color: #59778c

	.contacts_row
		+contacts_table
		&:nth-child(odd)
			background: #fafafa
		






