
@import _map.scss
@import calender.scss



$page_width: 1044px


.institutional_knowledge_base_wrapper
	width: 100vw
	// background: #eee
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: flex-start

.institutional_knowledge_base_left
	flex: 0 0 204px
	background: #dbe9f5
	height: 100%
	position: relative
	transition: all .3s
	.switch_foldup_icon
		position: absolute
		width: 38px
		height: 38px
		background: #5698d0
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		cursor: pointer
		right: 0px
		top: 0px
		transition: all .3s
		i
			font-size: 20px
			color: #FFF
		&:hover
			background: #326088


.institutional_knowledge_base_content
	flex: 5 0 auto
	// background: #eee
	transition: all .3s
	padding: 32px
	


.institutional_knowledge_base_right
	flex: 0 0 204px
	background: #e9f5ff
	position: relative
	transition: all .3s
	.switch_foldup_icon
		position: absolute
		width: 38px
		height: 38px
		background: #5698d0
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		cursor: pointer
		left: 0px
		top: 0px
		transition: all .3s
		i
			font-size: 20px
			color: #FFF
		&:hover
			background: #326088


.fold_up
	flex: 0 0 30px




.left_pillar
	.left-title
		height: 38px
		background: #5698d0
		color: #FFF
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		h6
			color: #FFF
			margin-left: 16px

	.left_pillar_item
		width: 100%
		border-bottom: 1px solid rgba(39, 102, 156, 0.05)
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		
		.unit_block
			padding: 15px 20px 
			width: 100%
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			h6
				width: 70%

		.inside_item
			width: 100%
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center
			display: none
			.subitem
				width: 100%
				padding: 10px 20px 10px 30px
				background: #cee1f1
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				border-bottom: 1px solid rgba(39, 102, 156, 0.05)
				&:nth-last-child(1)
					border-bottom: none

		

.open
	display: flex !important



.right_pillar
	margin-top: 55px
	padding: 0 30px 0 16px
	.statistics
		margin-bottom: 30px
		h5 
			color: #222
			margin-bottom: 10px
		.right_pillar_data
			margin-bottom: 5px
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			h6
				color: #444

			p 
				color: #59778c
		


.center_pillar
	width: 100%
	// background: #280
	h4
		color: #444
		margin-bottom: 7px
	.five_block
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		.five_block_squre
			width: 18.5%
			background: #FFF
			border-radius: 3px
			height: 90px
			padding: 18px
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
			margin-bottom: 30px
			
			.t-top
				color: #444
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				margin-bottom: 16px
				color: #59778c
				i
					margin-right: 5px
			.num_sumary
				font-size: 24px
				color: #444
				font-weight: 900
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center

	.table_squre
		width: 100%
		background: #FFF
		border-radius: 3px
		padding: 24px 0
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
		margin-bottom: 30px
		.table_squre_title
			color: #59778c
			font-weight: 900
			height: 46px
			padding: 0 24px
		.table_body
			.table_body_row_th
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center
				padding: 10px 24px
				background: #fafafa
				border-top: 1px solid #ddd
				border-bottom: 1px solid #ddd
				.table_cos_a
					width: 50%
					color: #59778c
					font-weight: 900
				.table_cos_b
					width: 25%
					color: #59778c
					font-weight: 900
				.table_cos_c
					width: 25%
					color: #59778c
					font-weight: 900
			.table_body_row
				display: flex
				flex-direction: row
				justify-content: flex-end
				align-items: center
				padding: 10px 24px
				line-height: 1.4
				&:nth-child(odd)
					background: rgba(89, 119, 140, 0.1)
				.table_cos_a
					width: 50%
					color: #444
					padding: 0 30px 0 0
				.table_cos_b
					width: 25%
					color: #444
				.table_cos_c
					width: 25%
					color: #444



.bread_crumbs
	width: 100%
	margin-bottom: 20px
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	a
		color: #419fe3
		margin: 0 4px
	p 
		color: #444
		margin-left: 8px





.switch_pillar
	flex: 0 0 38px !important
.disapear
	display: none !important
	

@mixin table_cos
	.cos_a
		width: 7%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		i 
			font-size: 20px
		input[type="checkbox"]
			// zoom: 1.5
	.cos_b
		width: 35%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.cos_c
		width: 5%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		i 
			font-size: 20px
		input[type="checkbox"]
			// zoom: 1.5
	.cos_d
		width: 10%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.cos_e
		width: 15%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center

.o_title
	font-size: 24px
	color: #444
	margin-top: 20px
	margin-bottom: 10px
	font-weight: 700
.doclist
	min-width: 900px
	background: #FFF
	border-radius: 3px
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)
	.doclist_fun
		height: 54px
		padding: 0 16px
		border-bottom: 1px solid #eee
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		.doclist_search
			width: 400px
			height: 32px
			border-radius: 4px
			border: 1px solid #ddd
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			.i_search
				width: 360px
				border: none
				outline: 0
				padding-left: 10px
				&::placeholder
					color: #cccccc

			i
				color: #419FE4
				margin-left: 10px
				cursor: pointer

		.doclist_fun_row
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			.doclist_fun_btn
				color: #419fe3
				border: 1px solid #419fe3
				padding: 8px 20px
				border-radius: 4px
				font-size: 14px
				margin-left: 10px
				cursor: pointer
				transition: all .3s
				&:hover
					background: #419fe3
					color: #FFF
	
	.doclist_table
		.table_row_th
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			padding: 0px 20px
			height: 36px
			color: #59778c
			font-weight: 900
			border-top: 1px solid #eeeeee
			border-bottom: 1px solid #eeeeee
			+table_cos
			.cos_c
				i 
					font-size: 14px
					margin-left: 5px

		.table_row
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			padding: 0px 20px
			height: 36px
			color: #444
			transition: all .3s
			+table_cos
			&:nth-child(even)
				background: rgba(89, 119, 140, 0.1)
			&:hover
				background: rgba(89, 119, 140, 0.3)
			

.folder
	color: #f5a623
.word
	color: #1f87d2
.excel
	color: #83bc49
.code
	color: #6674af
.others
	color: #aaaaaa
.ppt
	color: #f5a623
.text
	color: #000000
.pdf
	color: #e75541
.zip
	color: #c59e5d
.iimg
	color: #77b9c4
.video
	color: #6e8b9f
.audio
	color: #6db5ea


.cross
	color: #e75541
.pen
	color: #419fe3
.check
	color: #87b540


@mixin table_batch_cos
	.cos_a
		width: 4%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		i 
			font-size: 20px
		input[type="checkbox"]
			// zoom: 1.5
	.cos_b
		width: 60%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.cos_c
		width: 10%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		i 
			font-size: 20px
		input[type="checkbox"]
			// zoom: 1.5
	

.batch_update_table
	border-bottom: 1px solid #eeeeee
	.table_row_th
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		padding: 0px 20px
		height: 36px
		color: #59778c
		font-weight: 900
		border-top: 1px solid #eeeeee
		border-bottom: 1px solid #eeeeee
		+table_batch_cos
		.cos_c
			i 
				font-size: 14px
				margin-left: 5px

	.table_row
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		padding: 0px 20px
		height: 36px
		color: #444
		transition: all .3s
		+table_batch_cos
		&:nth-child(even)
			background: rgba(89, 119, 140, 0.1)
		&:hover
			background: rgba(89, 119, 140, 0.3)


.bgbg
	background: rgba(89, 119, 140, 0.3) !important


.btn_group
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	padding: 32px 0
	.i_cancel
		width: 96px
		height: 38px
		border: 1px solid #419fe3
		color: #419fe3
		border-radius: 4px
		margin: 0 10px
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
	.i_summit
		width: 96px
		height: 38px
		background: #419fe3
		color: #FFF
		border-radius: 4px
		margin: 0 10px
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center

.batch_upload_step_1
	width: 95%
	padding: 30px 20px
	margin: 0 auto
	border-bottom: 1px solid #eee
	.step_row
		width: 100%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: flex-start
		margin-bottom: 30px
		.upload_subject
			width: 15%
			margin-right: 30px
			margin-top: 10px
			color: #444
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: center
		.upload_select_edit
			height: 40px
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			color: #444
			font-size: 16px
			p 
				font-size: 12px
				margin-left: 10px
				color: #888
			.upload_pdf
				width: 300px
				height: 38px
				border-radius: 4px
				border: solid 1px #cccccc
				margin-right: 10px
			.radio_group
				margin-right: 20px
				font-size: 16px
				color: #444

		.upload_content
			width: 85%
			.text_unedit
				width: 678px
				background: #f2f2f2
				border: solid 1px #cccccc
				padding: 10px
				border-radius: 4px
				color: #444
			textarea
				background: #FFF
				border: solid 1px #cccccc
				padding: 10px
				border-radius: 4px
				color: #444
				&::placeholder
					color: #c0c0c0




.upload_list
	width: 100%
	border: 1px solid #ddd
	height: 300px
	border-radius: 4px
	padding: 10px
	p 
		font-size: 16px
		font-weight: 400
		margin-bottom: 5px
		color: #444
.upload_btn
	width: 96px
	height: 38px
	background-color: #419fe3
	color: #FFF
	border-radius: 4px
	// margin-bottom: 10px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center










.pages
	height: 48px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding: 0 16px
	.page_front
		width: 50%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		.num_page
			display: flex
			flex-direction: row
			justify-content: flex-start
			align-items: center
			margin-right: 30px
			.num_page_link
				display: block
				width: 32px
				height: 32px
				margin: 0 5px
				border: 1px solid #ccc
				color: #444
				border-radius: 4px
				display: flex
				flex-direction: row
				justify-content: center
				align-items: center

		.jump_to-page
			font-size: 14px
			color: #444
			select
				width: 68px
				height: 32px
				margin: 0 5px
				border-radius: 4px
				background-color: #ffffff
				border: solid 1px #cccccc


	.page_back
		width: 50%
		display: flex
		flex-direction: row
		justify-content: flex-end
		align-items: center
		.this_page
			font-size: 14px
			color: #444
			select
				width: 68px
				height: 32px
				margin: 0 5px
				border-radius: 4px
				background-color: #ffffff
				border: solid 1px #cccccc
		.page_info
			font-size: 14px
			color: #444
			margin-left: 30px


.page_on
	background: #419fe3 !important
	color: #FFF !important




