
@import reset
@import _index
@import _inside_pages



body
	font-family: Microsoft JhengHei
	// font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif !important
	-webkit-font-smoothing: antialiased
	font-weight: 400
	// background: #f2f2f2
	background-image: linear-gradient(to bottom, #e9f5ff, rgba(233, 245, 255, 0))
	color: #59778c
	line-height: 1.4
	input[type="text"],select
		height: 38px
		border-radius: 4px
		background-color: #ffffff
		border: solid 1px #dddddd
		padding: 0 10px
// a
// 	color: #00a3e4

p, h6, h5, h4, h3, h2
	line-height: 1.4
	font: 14px
	color: #59778c
	line-height: 1.4
a
	color: #59778c


.clear
	clear: both
.clearfix:before,.clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1 /* ie 6/7 */



.footer_wrapper
	background: #444
