{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>個人知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>我所上傳的文件</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人訂閱</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人收藏</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		
			
			
		<div class="doclist">
			<div class="discuss_detail">
				<div class="response_section">
					<div class="response_title">
						<i class="fas fa-comments"></i> 回應討論
					</div>
					
					<div class="edit_section">

						<div class="edit_row">
							<div class="e-title">
								討論主題 <span style="color: red; margin-left:3px ">*</span>
							</div>
							<div class="edit_content">
								<input type="text" value="請問現行依定要完成的玩具檢驗項目有哪些？">
							</div>
						</div>

						<div class="edit_row">
							<div class="e-title">
								回應內容 <span style="color: red; margin-left:3px ">*</span>
							</div>
							<div class="edit_content">
								<div class="aaaa"></div>
							</div>
						</div>

						<div class="edit_row">
							<div class="e-title">
								上傳檔案
							</div>
							<div class="edit_content">
								<div class="submit_btn">選擇檔案</div>
									<div class="discuss_attached" style="padding-left: 0px">
									<div class="attatched_file">
										<i class="far fa-file-word"></i> 102年玩具檢驗項目... <i class="fas fa-times-circle" style="color:#e75541"></i>
									</div>
									<div class="attatched_file">
										<i class="far fa-file-word"></i> 102年玩具檢驗項目... <i class="fas fa-times-circle" style="color:#e75541"></i>
									</div>
									<div class="attatched_file">
										<i class="far fa-file-word"></i> 102年玩具檢驗項目... <i class="fas fa-times-circle" style="color:#e75541"></i>
									</div>
									<div class="attatched_file">
										<i class="far fa-file-word"></i> 102年玩具檢驗項目... <i class="fas fa-times-circle" style="color:#e75541"></i>
									</div>
									
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="submit_area">
					<div class="cancel_btn">取消</div>
					<div class="submit_btn">選擇檔案</div>
				</div>
				
			</div>
		</div>


	</div>

	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}