{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}


<script>
	$(function(){
		$('.open-popup-link').magnificPopup({
		  type:'inline',
		  midClick: true 
		  // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
		});
	});
</script>
	
	

	<div class="independent_page">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <p>知識排行榜</p>
		</div>


		<div class="switch_view">
			<div class="switch_view_l">使用情境</div>
			<div class="switch_view_r switch_view_on">單位組織</div>
		</div>
		


		<div class="knowledge_ranking">
			<div class="doclist_fun">

				<div class="doclist_search">
					<input type="text" class="i_search" placeholder="檢索知識">
					<i class="fas fa-search"></i>
				</div>

				<div class="doclist_fun_row">
					<div class="doclist_fun_btn"><i class="far fa-heart"></i> 加入收藏</div>

					
					
					<a href="#popup_new-folder" class="doclist_fun_btn open-popup-link">
						<i class="fas fa-plus"></i> 新增資料夾
					</a>
					


					<!-- <a href="#popup_new-folder" class="add_btn open-popup-link">新增儀表板</a> -->



					<div class="doclist_fun_btn btn-upload">
						上傳文件 <i class="fas fa-caret-down"></i>
						<div class="doclist_dropdown dropdown-upload">
							<div class="dropdown_list">超級資料夾</div>
							<div class="dropdown_list">無敵資料夾</div>
							<div class="dropdown_list">無堅不摧資料夾</div>
							<div class="dropdown_list">我的秘密資料夾</div>
						</div>
					</div>
					<div class="doclist_fun_btn btn-doc">
						文件管理 <i class="fas fa-caret-down "></i>
						<div class="doclist_dropdown dropdown-doc">
							<div class="dropdown_list">超級資料夾</div>
							<div class="dropdown_list">無敵資料夾</div>
							<div class="dropdown_list">無堅不摧資料夾</div>
							<div class="dropdown_list">我的秘密資料夾</div>
						</div>
							
					</div>
				</div>

			</div>

			<!-- pages -->
			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>


			<div class="doclist_table">
				<div class="table_row_th">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c">類型 </div>
					<div class="cos_b">名稱</div>
					<div class="cos_a">表單類型</div>
					<div class="cos_d">建立者</div>
					<div class="cos_e">建立時間</div>
					<div class="cos_d">修改者</div>
					<div class="cos_e">建立時間</div>
				</div>

				

				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">台北總局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">基隆分局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">新竹分局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">台南分局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">高雄分局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">花蓮分局</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">資訊安全管理委員會</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">資訊安全管理委員會</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">資訊安全管理委員會</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">資訊安全管理委員會</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>
				<div class="table_row">
					<div class="cos_c"><input type="checkbox"></div>
					<div class="cos_c folder"><i class="fas fa-folder"></i></div>
					<div class="cos_b">資訊安全管理委員會</div>
					<div class="cos_a"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
					<div class="cos_d"></div>
					<div class="cos_e"></div>
				</div>




				


			</div>


			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>
		</div>




		<!-- loghtbox -->
		<div id="popup_new-folder" class="lightbox_go mfp-hide">
			<div class="edit_layout_title">
				新增資料夾
			</div>

			<div class="edit_layout_row">
				資料夾名稱
				<input type="text">
			</div>
			<div class="btn_section">
				<div class="cancel_fun">取消</div>
				<div class="add_fun">確定</div>
			</div>
		</div>

	


	</div>


<div class="goto_top scroll-to-top"><i class="fas fa-arrow-up"></i></div>

<div class="clear"></div>

		


{% endblock %}