{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="fun_item_wrapper">
	<div class="fun_item">
		<i class="fas fa-file-alt fa-3x"></i>
		<p>公文線上簽核管理系統</p>
	</div>
	<div class="fun_item">
		<i class="fas fa-money-check-alt fa-3x"></i>
		<p>個人薪資查詢</p>
	</div>
	<div class="fun_item">
		<i class="far fa-calendar-alt fa-3x"></i>
		<p>差勤、領物、費用系統</p>
	</div>
	<div class="fun_item">
		<i class="fas fa-building fa-3x"></i>
		<p>本局郵件系統</p>
	</div>	

	<div class="fun_item">
		<i class="fas fa-desktop fa-3x"></i>
		<p>應用系統 單一登錄平台</p>
	</div>
	<div class="fun_item">
		<i class="fas fa-globe-asia fa-3x"></i>
		<p>本局 全球資訊網</p>
	</div>
	<div class="fun_item">
		<i class="fas fa-chart-area fa-3x"></i>
		<p>國家標準檢驗系統</p>
	</div>
	<div class="fun_item_add">
		<i class="fas fa-plus fa-2x"></i>
	</div>



	
</div>






<div class="grid-stack grid_section">

    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="6" data-gs-height="6">
        <div class="grid-stack-item-content index_calender">
        		calender
        </div>
    </div>


    <div class="grid-stack-item"
        data-gs-x="6" data-gs-y="0"
        data-gs-width="6" data-gs-height="6">
        <div class="grid-stack-item-content index_attendance_records">
        	attendance_records
    	</div>
    </div>    

    <div class="grid-stack-item"
        data-gs-x="8" data-gs-y="6"
        data-gs-width="12" data-gs-height="6">
        <div class="grid-stack-item-content index_news">
        	news
        </div>
    </div>


    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="12"
        data-gs-width="6" data-gs-height="6">
        <div class="grid-stack-item-content index_calender">
        		links
        </div>
    </div>


    <div class="grid-stack-item"
        data-gs-x="6" data-gs-y="12"
        data-gs-width="6" data-gs-height="6">
        <div class="grid-stack-item-content index_attendance_records">
        	contacts
    	</div>
    </div>    

  <div class="grid-stack-item"
        data-gs-x="8" data-gs-y="20"
        data-gs-width="12" data-gs-height="6">
        <div class="grid-stack-item-content index_news">
        	department_calender
        </div>
    </div>



</div>


<script type="text/javascript">
$(function () {
	var options = {
        cellHeight: 80,
        verticalMargin: 10
    };
    $('.grid-stack').gridstack();
});
</script>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- comic_bg -->




<div class="clear"></div>

		














{% endblock %}