{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}




<script type="text/javascript" src='js/calender.js'></script>

<script>
	$(function(){
		$('.open-popup-link').magnificPopup({
		  type:'inline',
		  midClick: true 
		  // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
		});
	});
</script>


<div class="index_setting">
	<a href="" class="setting_btn"><i class="fas fa-cog"></i> 版面設定</a>
	<div class="setting_mockup">
		<a href="" class="edit_btn open-popup-link">儲存設定</a>
		<a href="#popup_1" class="add_btn open-popup-link">新增板塊</a>
	</div>
</div>



<!-- Magnific-Popup #1 for login  -->
<div id="popup_1" class="edit_layout mfp-hide">
	<div class="edit_layout_title">
		首頁板塊顯示設定
	</div>
	<div class="edit_layout_row">
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="cancel_fun">已加入</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
	</div>
	<div class="edit_layout_row">
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">已加入</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
		<div class="edit_layout_item">
			<div class="thunmnail">
				<img src="img/mm_01.jpg" alt="">
			</div>
			<h6>個人活動暨差假資訊</h6>
			<p>快速瀏覽自己的活動狀態以及休假資訊</p>
			<div class="add_fun">加入首頁</div>
		</div>
	</div>

	
</div>



<div class="fun_item_wrapper">
	<div class="w_fun_item">
		<div class="fun_item">
			<i class="fas fa-edit"></i>
			<p>公文線上簽核管理系統</p>
		</div>

		<div class="fun_item">
			<i class="fas fa-dollar-sign"></i>
			<p>個人薪資查詢</p>
		</div>
		<div class="fun_item">
			<i class="far fa-calendar-alt"></i>
			<p>差勤、領物、費用系統</p>
		</div>
		<div class="fun_item">
			<i class="fas fa-building"></i>
			<p>本局郵件系統</p>
		</div>	

		<div class="fun_item">
			<i class="fas fa-desktop"></i>
			<p>應用系統 單一登錄平台</p>
		</div>
		<div class="fun_item">
			<i class="fas fa-globe-asia"></i>
			<p>本局 全球資訊網</p>
		</div>
		<div class="fun_item">
			<i class="fas fa-chart-area"></i>
			<p>國家標準檢驗系統</p>
		</div>
	</div>
	<div class="main_fun_edit">
		<i class="fas fa-cog"></i> 
	</div>

	<div class="main_edit_dropdown">
		<div class="dropdown_list">
			<label for="fun1">
				<input type="radio" id="fun1">
				<span>公文線上簽核管理系統</span>
			</label>
		</div>				
		<div class="dropdown_list">
			<label for="fun2">
				<input type="radio" id="fun2">
				<span>個人薪資查詢</span>
			</label>
		</div>
		<div class="dropdown_list">
			<label for="fun3">
				<input type="radio" id="fun3">
				<span>差勤、領物、費用系統</span>
			</label>
		</div>
		<div class="dropdown_list">
			<label for="fun4">
				<input type="radio" id="fun4">
				<span>本局郵件系統</span>
			</label>
		</div>
		<div class="dropdown_list">
			<label for="fun4">
				<input type="radio" id="fun4">
				<span>應用系統 單一登錄平台</span>
			</label>
		</div>
		<div class="dropdown_list">
			<label for="fun4">
				<input type="radio" id="fun4">
				<span>本局 全球資訊網</span>
			</label>
		</div>
		<div class="dropdown_list">
			<label for="fun4">
				<input type="radio" id="fun4">
				<span>國家標準檢驗系統</span>
			</label>
		</div>
		
	</div>


</div>





<div class="grid-stack grid_section">

    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="6" data-gs-height="5" data-gs-no-resize="yes">
        <div class="grid-stack-item-content index_calender">
			<!-- block_title -->
			<div class="block_title">
				<div class="front">
					<i class="far fa-calendar-alt"></i> <h6>個人活動暨差假資訊</h6>
				</div>
				<div class="fun_icons">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
			<!-- block_content -->
			<div class="index_calender_wrapper">
			<div class="index_calender_detail">
					<div class="content-wrapper">
				  <div class="left-wrapper">
				    <div class="header"><i class="fa fa-angle-left" aria-hidden="true"></i><span><span class="month"> </span><span class="year"></span></span><i class="fa fa-angle-right" aria-hidden="true"></i></div>
				    <div class="calender">
				      <table>
				        <thead>
				          <tr class="weedays">
				            <th data-weekday="sun" data-column="0">日</th>
				            <th data-weekday="mon" data-column="1">一</th>
				            <th data-weekday="tue" data-column="2">二</th>
				            <th data-weekday="wed" data-column="3">三</th>
				            <th data-weekday="thu" data-column="4">四</th>
				            <th data-weekday="fri" data-column="5">五</th>
				            <th data-weekday="sat" data-column="6">六</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr class="days" data-row="0">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				          <tr class="days" data-row="1">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				          <tr class="days" data-row="2">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				          <tr class="days" data-row="3">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				          <tr class="days" data-row="4">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				          <tr class="days" data-row="5">
				            <td data-column="0"></td>
				            <td data-column="1"></td>
				            <td data-column="2"></td>
				            <td data-column="3"></td>
				            <td data-column="4"></td>
				            <td data-column="5"></td>
				            <td data-column="6"></td>
				          </tr>
				        </tbody>
				      </table>
				    </div>
				    <!-- <div class="showDate"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div> -->
				  </div>
				  
				</div>
			</div>

			<div class="index_calender_info">

				<div class="info_event">
					<div class="info_event_date">107-07-15</div>
					<div class="info_event_text">「看不見的尺度～探索傳輸的物理世界」度量衡教育體驗活動</div>
					<div class="info_event_situation">
						<div class="s-blue">活動</div>		
						<div class="s-grey">差假</div>		
						<div class="s-orange">差假</div>
						<div class="clear"></div>		
					</div>
				</div>

				<div class="info_event">
					<div class="info_event_date">107-07-15</div>
					<div class="info_event_text">「看不見的尺度～探索傳輸的物理世界」度量衡教育體驗活動</div>
					<div class="info_event_situation">
						<div class="s-blue">活動</div>		
						<div class="s-grey">差假</div>		
						<div class="s-orange">差假</div>
						<div class="clear"></div>		
					</div>
				</div>
				<div class="info_event">
					<div class="info_event_date">107-07-15</div>
					<div class="info_event_text">「看不見的尺度～探索傳輸的物理世界」度量衡教育體驗活動</div>
					<div class="info_event_situation">
						<div class="s-blue">活動</div>		
						<div class="s-grey">差假</div>		
						<div class="s-orange">差假</div>
						<div class="clear"></div>		
					</div>
				</div>


			</div>
		</div>


        </div>
    </div>




	<!-- index_attendance_records -->
	
    <div class="grid-stack-item"
        data-gs-x="6" data-gs-y="0"
        data-gs-width="6" data-gs-height="5" data-gs-no-resize="yes">
        <div class="grid-stack-item-content index_attendance_records">
        	<!-- block_title -->
			<div class="block_title">
				<div class="front">
					<i class="far fa-calendar-alt"></i> <h6>個人差勤紀錄</h6>
				</div>
				<div class="fun_icons">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
			<!-- block_content -->
			<div class="index_attendance_records_time">
				<div class="index_attendance_records_date">
					<div class="i-year">107年</div>
					<div class="i-today">8月29日</div>
					<div class="i-week">星期四 下午</div>
				</div>

				<!-- clock -->
				<div class="index_attendance_records_clock">
						<svg width="200" height="200">

						<filter id="innerShadow" x="-20%" y="-20%" width="140%" height="140%">
						<feGaussianBlur in="SourceGraphic" stdDeviation="3" result="blur"/>
						<feOffset in="blur" dx="2.5" dy="2.5"/>
						</filter>

						<g >
						<circle id="shadow" style="fill:rgba(0,0,0,0.1)" cx="97" cy="100" r="87" filter="url(#innerShadow)"></circle>
						<circle id="circle" style="stroke: #FFF; stroke-width: 2px; fill:#20B7AF" cx="100" cy="100" r="80"></circle>
						</g>
						<g>
						<line x1="100" y1="100" x2="100" y2="55" transform="rotate(80 100 100)" style="stroke-width: 3px; stroke: #fffbf9;" id="hourhand">
						<animatetransform attributeName="transform"
						attributeType="XML"
						type="rotate"
						dur="43200s"
						repeatCount="indefinite"/>
						</line>
						<line x1="100" y1="100" x2="100" y2="40" style="stroke-width: 4px; stroke: #fdfdfd;" id="minutehand">
						<animatetransform attributeName="transform"
						attributeType="XML"
						type="rotate"
						dur="3600s"
						repeatCount="indefinite"/>
						</line>
						<line x1="100" y1="100" x2="100" y2="30" style="stroke-width: 2px; stroke: #C1EFED;" id="secondhand">
						<animatetransform attributeName="transform"
						attributeType="XML"
						type="rotate"
						dur="60s"
						repeatCount="indefinite"/>
						</line>
						</g>
						<circle id="center" style="fill:#128A86; stroke: #C1EFED; stroke-width: 2px;" cx="100" cy="100" r="3"></circle>
						</svg>

						<script>
							var hands = [];
								hands.push(document.querySelector('#secondhand > *'));
								hands.push(document.querySelector('#minutehand > *'));
								hands.push(document.querySelector('#hourhand > *'));

								var cx = 100;
								var cy = 100;

								function shifter(val) {
								  return [val, cx, cy].join(' ');
								}

								var date = new Date();
								var hoursAngle = 360 * date.getHours() / 12 + date.getMinutes() / 2;
								var minuteAngle = 360 * date.getMinutes() / 60;
								var secAngle = 360 * date.getSeconds() / 60;

								hands[0].setAttribute('from', shifter(secAngle));
								hands[0].setAttribute('to', shifter(secAngle + 360));
								hands[1].setAttribute('from', shifter(minuteAngle));
								hands[1].setAttribute('to', shifter(minuteAngle + 360));
								hands[2].setAttribute('from', shifter(hoursAngle));
								hands[2].setAttribute('to', shifter(hoursAngle + 360));

								for(var i = 1; i <= 12; i++) {
								  var el = document.createElementNS('http://www.w3.org/2000/svg', 'line');
								  el.setAttribute('x1', '100');
								  el.setAttribute('y1', '30');
								  el.setAttribute('x2', '100');
								  el.setAttribute('y2', '40');
								  el.setAttribute('transform', 'rotate(' + (i*360/12) + ' 100 100)');
								  el.setAttribute('style', 'stroke: #ffffff;');
								  document.querySelector('svg').appendChild(el);
								}
						</script>
				</div>

			</div>

			<div class="index_attendance_records_data">
				<div class="records_item_title">刷卡紀錄：</div>
				<div class="records_item">08:31</div>
				<div class="records_lll"></div>
				<div class="records_item">08:31</div>
				<div class="records_lll"></div>				
				<div class="records_item">08:31</div>
				<div class="records_lll"></div>
				<div class="records_item">08:31</div>
				<div class="records_lll"></div>
				
			</div>		
        	<a href="" class="and_more">連至差勤系統</a>

		

    	</div>
    </div>    






	<!-- index_news -->
    <div class="grid-stack-item"
        data-gs-x="8" data-gs-y="6"
        data-gs-width="12" data-gs-height="5" data-gs-no-resize="yes">
        <div class="grid-stack-item-content index_news">
        	<div class="tab_wrapper">

				<div class="tab_section">
					<div class="tab_unit">
						<div class="tab_btn on_self">
							<i class="fas fa-bullhorn"></i> <h6>消息公告</h6>
						</div>
						<div class="tab_btn">
							<i class="far fa-file-alt"></i><h6>最新及熱門文件</h6>
						</div>
						<div class="tab_btn">
							<i class="far fa-comments"></i><h6>最新及熱門討論</h6>
						</div>
						<div class="tab_btn">
							<i class="fas fa-tag"></i><h6>個人訂閱及收藏</h6>
						</div>
					</div>
				
					<div class="fun_icons">
						<div class="fun_edit">
							<i class="fas fa-cog"></i>
						</div> 
						| 
						<div class="fun_delete">
							<i class="fas fa-times-circle"></i>
						</div>

							<div class="edit_dropdown">
								<div class="dropdown_list">
									<label for="ck1">
										<input type="radio" id="ck1">
										<span>消息公告</span>
									</label>
								</div>				
								<div class="dropdown_list">
									<label for="ck2">
										<input type="radio" id="ck2">
										<span>最新及熱門文件</span>
									</label>
								</div>
								<div class="dropdown_list">
									<label for="ck3">
										<input type="radio" id="ck3">
										<span>最新及熱門討論</span>
									</label>
								</div>
								<div class="dropdown_list">
									<label for="ck4">
										<input type="radio" id="ck4">
										<span>個人訂閱及收藏</span>
									</label>
								</div>
								
							</div>
					</div>

				</div>

				<div class="search_section">
					<div class="i-input">
						<input type="text" class="index_news_input" placeholder="搜尋...">
						<i class="fas fa-search"></i>
					</div>
					<div class="i-select">
						<select name="" id="" class="index_news_select">
							<option value="">所有公告</option>
							<option value="">所有公告</option>
							<option value="">所有公告</option>
							<option value="">所有公告</option>
						</select>
					</div>
				</div>
			</div>


			<div class="index_news_content">
				<div class="content_row">
					<div class="cos_a">107-04-27</div>
					<div class="cos_b">新版知識管理入口網即將於今年底上線～</div>
					<div class="cos_c">台北總局資訊室</div>
				</div>
				<div class="content_row">
					<div class="cos_a">107-04-27</div>
					<div class="cos_b">新版知識管理入口網即將於今年底上線～</div>
					<div class="cos_c">台北總局資訊室</div>
				</div>				
				<div class="content_row">
					<div class="cos_a">107-04-27</div>
					<div class="cos_b">新版知識管理入口網即將於今年底上線～</div>
					<div class="cos_c">台北總局資訊室</div>
				</div>
				<div class="content_row">
					<div class="cos_a">107-04-27</div>
					<div class="cos_b">新版知識管理入口網即將於今年底上線～</div>
					<div class="cos_c">台北總局資訊室</div>
				</div>				
				<div class="content_row">
					<div class="cos_a">107-04-27</div>
					<div class="cos_b">新版知識管理入口網即將於今年底上線～</div>
					<div class="cos_c">台北總局資訊室</div>
				</div>
				
			</div>
				<a href="" class="and_more">更多...</a>

			
        </div>
    </div>








    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="12"
        data-gs-width="6" data-gs-height="5">
        <div class="grid-stack-item-content index_links" data-gs-no-resize="yes">
        	<!-- block_title -->
			<div class="block_title">
				<div class="front">
					<i class="far fa-calendar-alt"></i> <h6>常用連結</h6>
				</div>
				<div class="fun_icons">
					<div class="fun_edit">
					<i class="fas fa-cog"></i>
					</div> 
					| 
					<div class="fun_delete">
						<i class="fas fa-times-circle"></i>
					</div>
				</div>
			</div>
			<!-- block_search -->
			<div class="search_section">
				<div class="i-input">
					<input type="text" class="index_news_input" placeholder="請輸入關鍵字">
					<i class="fas fa-search"></i>
				</div>
				<div class="i-select">
					<select name="" id="" class="index_news_select">
						<option value="">所有分類</option>
						<option value="">所有分類</option>
						<option value="">所有分類</option>
						<option value="">所有分類</option>
					</select>
				</div>
			</div>
			<!-- block_content -->
			<div class="links">
				<div class="links_title">
					<div class="link_name">連結名稱</div>
					<div class="link_bureau">分類</div>
				</div>

				<div class="links_row">
					<div class="link_name">商品驗證及技術電子文件(總局)</div>
					<div class="link_bureau">總局</div>
				</div>

				<div class="links_row">
					<div class="link_name">商品驗證及技術電子文件(總局)</div>
					<div class="link_bureau">總局</div>
				</div>

				<div class="links_row">
					<div class="link_name">商品驗證及技術電子文件(總局)</div>
					<div class="link_bureau">總局</div>
				</div>

				<div class="links_row">
					<div class="link_name">商品驗證及技術電子文件(總局)</div>
					<div class="link_bureau">總局</div>
				</div>
				<div class="links_row">
					<div class="link_name">商品驗證及技術電子文件(總局)</div>
					<div class="link_bureau">總局</div>
				</div>
	
			</div>
				<a href="" class="and_more">更多...</a>
        </div>
    </div>




    <div class="grid-stack-item"
        data-gs-x="6" data-gs-y="12"
        data-gs-width="6" data-gs-height="5" data-gs-no-resize="yes"s>
        <div class="grid-stack-item-content index_contacts">
        	 <!-- block_title -->
			<div class="block_title">
				<div class="front">
					<i class="far fa-calendar-alt"></i> <h6>通訊錄</h6>
				</div>
				<div class="fun_icons">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
			<!-- block_search -->
			<div class="search_section">
				<div class="i-input">
					<input type="text" class="index_news_input" placeholder="請輸入關鍵字">
					<i class="fas fa-search"></i>
				</div>
				<div class="i-select">
					<select name="" id="" class="index_news_select">
						<option value="">所有分類</option>
						<option value="">所有分類</option>
						<option value="">所有分類</option>
						<option value="">所有分類</option>
					</select>
				</div>
			</div>
			<!-- block_content -->
			<div class="contacts">
				<div class="contacts_title">
					<div class="contacts_name">姓名</div>
					<div class="contacts_bureau">單位</div>
					<div class="contacts_tel"></div>
				</div>

				<div class="contacts_row">
					<div class="contacts_name">吳東興</div>
					<div class="contacts_bureau">台北總局人事室</div>
					<div class="contacts_tel">02-2343-1808</div>
				</div>
				<div class="contacts_row">
					<div class="contacts_name">林美珠</div>
					<div class="contacts_bureau">台北總局人事室</div>
					<div class="contacts_tel">02-2343-1808</div>
				</div>
				<div class="contacts_row">
					<div class="contacts_name">林美珠</div>
					<div class="contacts_bureau">台北總局人事室</div>
					<div class="contacts_tel">02-2343-1808</div>
				</div>
				<div class="contacts_row">
					<div class="contacts_name">林美珠</div>
					<div class="contacts_bureau">台北總局人事室</div>
					<div class="contacts_tel">02-2343-1808</div>
				</div>
				<div class="contacts_row">
					<div class="contacts_name">林美珠</div>
					<div class="contacts_bureau">台北總局人事室</div>
					<div class="contacts_tel">02-2343-1808</div>
				</div>

		
	
			</div>
				<a href="" class="and_more">更多...</a>



    	</div>
    </div>    




  <div class="grid-stack-item"
        data-gs-x="8" data-gs-y="20"
        data-gs-width="12" data-gs-height="12" data-gs-no-resize="yes">
        <div class="grid-stack-item-content index_schedule">
        	 <!-- block_title -->
			<div class="block_title">
				<div class="front">
					<i class="far fa-calendar-alt"></i> <h6>部門行事曆</h6>
				</div>
				<div class="fun_icons">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
			<!-- block_content -->
			<div class="index_schedule_content">
				<div id='calendar'></div>
			</div>
   
        </div>
    </div>



</div>


<script type="text/javascript">
$(function () {
	var options = {
        cellHeight: 80,
        verticalMargin: 10
    };
    $('.grid-stack').gridstack();
});
</script>


<br>
<br>
<br>
<br>







<div class="clear"></div>

		






{% endblock %}