{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>機關知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>新竹總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>台南總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>高雄總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>資訊安全管理委員會</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>知識管理規劃推動小組</h6>
					<i class="fas fa-angle-down"></i>
				</div>

			</div>
		</div>	
	</div>











	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <p>機關知識庫</p>
		</div>

		<div class="center_pillar">
			<h4>本月統計</h4>
			<div class="five_block">
				<div class="five_block_squre">
					<div class="t-top"><i class="far fa-file-alt"></i> 總文件</div>
					<div class="num_sumary">23,348</div>
				</div>
				<div class="five_block_squre">
					<div class="t-top"><i class="far fa-clock"></i> 最新新增</div>
					<div class="num_sumary">23,348</div>
				</div>
				<div class="five_block_squre">
					<div class="t-top"><i class="fas fa-eye"></i> 熱門瀏覽</div>
					<div class="num_sumary">23,348</div>
				</div>
				<div class="five_block_squre">
					<div class="t-top"><i class="fas fa-thumbs-up"></i> 熱門推薦</div>
					<div class="num_sumary">23,348</div>
				</div>
				<div class="five_block_squre">
					<div class="t-top"><i class="fas fa-download"></i> 熱門下載</div>
					<div class="num_sumary">23,348</div>
				</div>
			</div>
			
			<div class="table_squre">
				<div class="table_squre_title"><i class="far fa-clock"></i> 最新新增</div>
				<div class="table_body">

					<div class="table_body_row_th">
						<div class="table_cos_a">文件名稱</div>
						<div class="table_cos_b">單位</div>
						<div class="table_cos_c">日期</div>
					</div>

					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
				</div>
				<a href="" class="and_more">更多...</a>
			</div>

			<div class="table_squre">
				<div class="table_squre_title"><i class="far fa-clock"></i> 最新新增</div>
				<div class="table_body">

					<div class="table_body_row_th">
						<div class="table_cos_a">文件名稱</div>
						<div class="table_cos_b">單位</div>
						<div class="table_cos_c">日期</div>
					</div>

					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
				</div>
				<a href="" class="and_more">更多...</a>
			</div>

			<div class="table_squre">
				<div class="table_squre_title"><i class="far fa-clock"></i> 最新新增</div>
				<div class="table_body">

					<div class="table_body_row_th">
						<div class="table_cos_a">文件名稱</div>
						<div class="table_cos_b">單位</div>
						<div class="table_cos_c">日期</div>
					</div>

					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
					<div class="table_body_row">
						<div class="table_cos_a">重要零組件規格一覽表-燈具</div>
						<div class="table_cos_b">第六組</div>
						<div class="table_cos_c">107-04-27</div>
					</div>
				</div>
				<a href="" class="and_more">更多...</a>
			</div>



		</div>
		


		

	</div>
	


	<!-- right_pillar -->
	<div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div>



</div>





<div class="clear"></div>

		






{% endblock %}