{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>機關知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>新竹總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>台南總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>高雄總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>資訊安全管理委員會</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>知識管理規劃推動小組</h6>
					<i class="fas fa-angle-down"></i>
				</div>

			</div>
		</div>	
	</div>











	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		
		<div class="o_title">批次文件上傳—步驟3：編輯詮釋資料</div>
		<div class="doclist">
			<div class="batch_upload_step_1">
				<div class="step_row">
					<div class="upload_subject">上傳原始檔 <span style="color: red; margin-left:3px ">*</span></div>
					<div class="upload_content">
						<div class="text_unedit">經濟部標準檢驗局生活法律服務掛號表.doc</div>
					</div>

				</div>


				<div class="step_row">
					<div class="upload_subject">名稱 <span style="color: red; margin-left:3px ">*</span></div>
					<div class="upload_content">
						<textarea name="" id="" cols="80" rows="1" placeholder="經濟部標準檢驗局生活法律服務掛號表"></textarea>
					</div>
				</div>

				<div class="step_row">
					<div class="upload_subject">摘要</div>
					<div class="upload_content">
						<textarea name="" id="" cols="80" rows="5" placeholder="提供同仁生活法律問題諮詢管道，請同仁填寫本生活法律服務掛號表後，列印紙本送至法務室即可。"></textarea>
					</div>
				</div>

				<div class="step_row">
					<div class="upload_subject">全文內容</div>
					<div class="upload_content">
						<textarea name="" id="" cols="80" rows="16" placeholder="請輸入..."></textarea>
					</div>
				</div>

				<div class="step_row">
					<div class="upload_subject">上傳PDF</div>
					<div class="upload_select_edit">
						
						<input type="text" class="upload_pdf"  placeholder="選擇檔案"> 
						  <label class="upload_btn" style="">
					       <input id="" style="display:none;" type="file">
					       <i class="fa fa-photo"></i> 選擇檔案
					      </label>
						<p>僅供預覽檢視，如原始圖檔即為PDF，可不必重複上傳</p>				
					</div>

				</div>

				<div class="step_row">
					<div class="upload_subject">知識類型 <span style="color: red; margin-left:3px ">*</span></div>
					<div class="upload_select_edit">
						<div class="radio_group"><input type="radio"> 業務文件</div>
						<div class="radio_group"><input type="radio"> 常用業務文件</div>
						<div class="radio_group"><input type="radio"> 知識文件</div>
					</div>
				</div>			

				<div class="step_row">
					<div class="upload_subject">是否為表單</div>
					<div class="upload_select_edit">
						<div class="radio_group"><input type="radio">是</div>
						<div class="radio_group"><input type="radio">否</div>

					</div>
				</div>

				<div class="step_row">
					<div class="upload_subject">建立者</div>
					<div class="upload_select_edit">
						陳翰明					
					</div>
				</div>
				<div class="step_row">
					<div class="upload_subject">建立時間</div>
					<div class="upload_select_edit">
							107-04-27 12:50	
					</div>
				</div>

				<div class="step_row">
					<div class="upload_subject">上傳位置</div>
					<div class="upload_content">
						<div class="need_dropdown">
							<div class="text_unedit">
								<p>知識管理 > 機關知識庫 > 台北總局 > 第一組 > 第一科 > 05專案計畫文件 </p>
								<i class="fas fa-sort-down"></i>
							</div>

							<div class="text_unedit_dropdown">
									<div class="parent_title">台北總局第五組</div>
									<!-- A -->
									<div class="text_unedit_dropdown_row">
										<div class="this_t">
											事務流程說明 A
											<i class="fas fa-sort-down"></i>
										</div>
										<div class="sub_content">
											<div class="this_content">
												事務流程說明子資料夾 A
											</div>
											<div class="this_content">
												事務流程說明子資料夾 A
											</div>
											<div class="this_content">
												事務流程說明子資料夾 A
											</div>
										</div>
									</div>
									<!-- B -->
									<div class="text_unedit_dropdown_row">
										<div class="this_t">
											事務流程說明 B
											<i class="fas fa-sort-down"></i>
										</div>
										<div class="sub_content">
											
	
											<div class="third_sub_content">
												<div class="this_content">
													事務流程說明子資料夾 BB
													<i class="fas fa-sort-down"></i>
												</div>

												<div class="third_sub_content_dropdown">
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
												</div>
											</div>		

											<div class="third_sub_content">
												<div class="this_content">
													事務流程說明子資料夾 BB
													<i class="fas fa-sort-down"></i>
												</div>

												<div class="third_sub_content_dropdown">
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
													<div class="third_this_content">
														事務流程說明子資料夾 BBBBB
													</div>
												</div>
											</div>	





											
										</div>
									</div>
									<!-- C -->
									<div class="text_unedit_dropdown_row">
										<div class="this_t">
											事務流程說明 C
											<i class="fas fa-sort-down"></i>
										</div>
										<div class="sub_content">
											<div class="this_content">
												事務流程說明子資料夾 C
											</div>
											<div class="this_content">
												事務流程說明子資料夾 C
											</div>
											
										</div>
									</div>
									<!-- D -->
									<div class="text_unedit_dropdown_row">
										<div class="this_t">
											事務流程說明 D
											<i class="fas fa-sort-down"></i>
										</div>
										<div class="sub_content">
											<div class="this_content">
												事務流程說明子資料夾 D
											</div>
											<div class="this_content">
												事務流程說明子資料夾 D
											</div>
											
										</div>
									</div>
										

									
									
								</div>
						</div>





						<label class="upload_btn" style="margin-top: 10px;">
					       <input id="" style="display:none;" type="file">
					       <i class="fa fa-photo"></i> 瀏覽位置
					      </label>
      				
					</div>
				</div>
			</div>
			
			<div class="btn_group">
				<div class="i_cancel">取消</div>
				<div class="i_summit">儲存</div>
			</div>

		</div>
	</div>
	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}