{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>機關知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>新竹總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>台南總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>高雄總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>資訊安全管理委員會</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>知識管理規劃推動小組</h6>
					<i class="fas fa-angle-down"></i>
				</div>

			</div>
		</div>	
	</div>











	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		
		<div class="o_title">批次文件上傳—步驟1：選擇檔案</div>
		<div class="doclist">
			<div class="batch_upload_step_1">
				<div class="step_row">
					<div class="upload_subject">選擇多個檔案</div>
					<div class="upload_content">
						<div class="upload_btn">選擇檔案</div>
						<p>單一檔案大小限制50MB</p>
					</div>
				</div>
				<div class="step_row">
					<div class="upload_subject">已上傳檔案</div>
					<div class="upload_content">
						<div class="upload_list">
							<p>商品檢驗法修正條文對照表960614.pdf</p>
							<p>商品檢驗法部分條文修正草案總說明會立法院審查通過版.pdf</p>
							<p>經濟部標準檢驗局生活法律服務掛號表.doc</p>
							<p>法律GIP上稿.doc</p>
							<p>修保法研討會錄音檔.mp3</p>
							<p>商品檢驗法修正條文對照表960614.pdf</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="btn_group">
				<div class="i_cancel">取消</div>
				<div class="i_summit">開始上傳</div>
			</div>

		</div>
	</div>
	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}