{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



	<div class="independent_page">
	
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <p>知識排行榜</p>
		</div>


		<div class="switch_page">
			<a href="" class="switch_page_block"><i class="far fa-clock"></i>最新新增文件</a>
			<a href="" class="switch_page_block on_this"><i class="fas fa-eye"></i>熱門瀏覽文件</a>
			<a href="" class="switch_page_block"><i class="far fa-thumbs-up"></i>熱門推薦文件</a>
			<a href="" class="switch_page_block"><i class="fas fa-download"></i>熱門下載文件</a>
		</div>
		


		<div class="knowledge_ranking">
			<div class="subscriiption_table">
				<div class="table_row_th">
					<div class="cos_a">序號</div>
					<div class="cos_d">文件名稱</div>
					<div class="cos_c">單位</div>
					<div class="cos_c">點閱數</div>
					<div class="cos_c">建立日期 </div>
				
				</div>

				<div class="table_row">
					<div class="cos_a">1</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">2</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">3</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">4</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">5</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">6</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">7</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">8</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">9</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">10</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>
				<div class="table_row">
					<div class="cos_a">11</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">12</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">13</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">14</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	
				<div class="table_row">
					<div class="cos_a">15</div>
					<div class="cos_d">重要零組件規格一覽表-電動</div>
					<div class="cos_c">第六組</div>
					<div class="cos_c">199 </div>
					<div class="cos_c">107-04-27 10:30 </div>
				</div>	

			</div>


			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>
		</div>
	</div>
	









<div class="clear"></div>

		


{% endblock %}