{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>個人知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>我所上傳的文件</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人訂閱</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人收藏</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		<div class="doclist">
			<div class="doclist_fun">
				<div class="doclist_fun_row">
					<div class="doclist_fun_btn"><i class="fas fa-arrow-left"></i> 回問卷列表</div>
				</div>
				<div class="doclist_fun_row">
					<div class="doclist_fun_go_btn"><i class="far fa-hand-point-up"></i> 立即報名</div>
				</div>
			</div>

			<div class="online_registration_w">
				<div class="event_bg-grey">
					<div class="event_summary">
						<h2>2018臺歐盟離岸風電驗證研討會</h2>
						<h6>活動時間：107-04-25 星期四 11:00 至 107-05-15 星期五 11:00</h6>
						<h6>報名時間：107-04-25 星期四 11:00 至 107-05-15 星期五 11:00</h6>
						<h6>活動名額：80名</h6>
						<h6>活動地點：台大醫院國際會議中心 (台北市中正區徐州路2號) 4樓401會議室</h6>
						<h6>活動類型：研討會</h6>
					</div>
				</div>
				<div class="event_bg-w">
					<div class="event_content">
						<p>台灣社會正面臨能源轉型巨大挑戰，有鑑於台灣能源結構轉型政策與歐盟2020策略下的能源政策皆著眼於提升再生能源配比，而離岸風電為台灣目前正在發展起步的再生能源領域，經濟部國際貿易局、經濟部標準檢驗局、歐洲經貿辦事處和歐盟在台商業與法規合作計畫，將於3月14日共同舉辦「2018臺歐離岸風電驗證研討會」。</p>
						<p>由於離岸風場的建置所費不貲，相當仰賴穩建的企業投資與金融部門的融資挹注。如何評估離岸風場之投資具有可行性、如何確認離岸風場之建置風險在可接受之範圍，則需要藉由公正之第三方驗證機制來把關。第三方驗證技術涵蓋了風場專案驗證、盡職調查、海事保證鑑定與海事工程風險管理三個面向。</p>
						<p>本研討會特別邀請到歐盟能源總署、歐洲投資銀行的專家來臺，以及歐洲業者，將針對以上議題與台灣執行離岸風電驗證實務經驗之講者，共同分享寶貴經驗。在交流對話中所激盪出的最佳實務，將推進台灣離岸風電法規更臻完善、驗證技術日趨精進；使關心離岸風電發展之各界人士，能掌握到離岸風電驗證制度之內涵與實務，拓展專業知能；對於位居離岸風電產業鏈中的業者，亦可在此嶄新的領域中掌握法規趨勢，並發掘新的商業模式和合作空間。</p>
						<div class="event_attached_file">
							
							附加檔案： 
							<div class="attached_file">
								<i class="far fa-file-word"></i>Test 
							</div>
							<div class="attached_file">
								<i class="far fa-file-word"></i> 102年玩具檢驗項目... 
							</div>
							<div class="attached_file">
								<i class="far fa-file-word"></i> 102年玩具檢驗項目... 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="lll--line"></div>

			<div class="online_registration_w">
				<div class="event_content">
					<h6>報名名單</h6>
				    <div class="doclist_fun">
				        <span>
							<p>共計 100 位報名，剩餘 0 名額</p>
						</span>
				        <div class="doclist_fun_row">
				            <div class="doclist_fun_dele_btn"><i class="fas fa-trash-alt"></i> 移除名單</div>
				        </div>
				    </div>
				    <div class="registration_table">
				        <div class="table_row_th">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">報名時間</div>
				            <div class="cos_b">姓名 </div>
				            <div class="cos_b">單位 </div>
				            <div class="cos_b">職位</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>
				        <div class="table_row">
				            <div class="cos_a">
				                <input type="checkbox">
				            </div>
				            <div class="cos_b">107-04-25 11:00</div>
				            <div class="cos_b">林大名 </div>
				            <div class="cos_b">臺北總局-第一組 </div>
				            <div class="cos_b">檢驗標準</div>
				        </div>



				    </div>
				    <!-- pages -->
				    <div class="pages">
				        <div class="page_front">
				            <div class="num_page">
				                <a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
				                <a href="" class="num_page_link">1</a>
				                <a href="" class="num_page_link page_on">2</a>
				                <a href="" class="num_page_link">3</a>
				                <a href="" class="num_page_link">4</a>
				                <a href="" class="num_page_link">5</a>
				                <a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
				            </div>
				            
				        </div>
				        <div class="page_back">
				            <div class="this_page">
				                每頁
				                <select name="" id="">
			                    <option value="">20</option>
			                    <option value="">30</option>
			                    <option value="">40</option>
			                    <option value="">50</option>
			                </select>
			                筆
			            </div>
			            <div class="page_info">第2頁，21-40筆，共100筆</div>
			        </div>
    			</div>
			</div>
				
		</div>



<div class="submit_area" style=" border-top: 1px solid #eee">
						<div class="review_btn_border"><i class="far fa-file-word"></i> 匯出報名清單</div>
						<div class="submit_btn_border"><i class="far fa-file-excel"></i> 匯出簽到表</div>
					</div>
				






		</div>
			

	</div>

	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}