{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>個人知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>我所上傳的文件</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人訂閱</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人收藏</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		<div class="doclist">
			<div class="doclist_fun">

				<span>
				<div class="doclist_search">
					<input type="text" class="i_search" placeholder="檢索知識">
					<i class="fas fa-search"></i>
				</div>
				
				</span>


				<div class="doclist_fun_row">
					<div class="doclist_fun_btn">  <i class="fas fa-plus"></i> 新增活動</div>
				</div>

			</div>
			

			<!-- pages -->
			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>

			
			<div class="online_registration_table">
				<div class="table_row_th">
					<div class="cos_a">活動名稱</div>
					<div class="cos_b">狀態</div>
					<div class="cos_a">活動時間 </div>
					<div class="cos_b">報名截止 </div>
					<div class="cos_c"></div>
				</div>

				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b">草稿</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b pdf">審核未通過</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b zip">審核通過</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b excel">報名中</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b others">報名結束</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b excel">活動中</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b zip">審核通過</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b excel">報名中</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b others">報名結束</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
				<div class="table_row">
					<div class="cos_a">建築用耐震鋼材國家標準及工程應用說明會</div>
					<div class="cos_b excel">活動中</div>
					<div class="cos_a">107-04-25 11:00 - 107-04-25 11:00</div>
					<div class="cos_b">107-04-26 11:00 </div>
					<div class="cos_c"><span><i class="fas fa-cog"></i> 管理</span></div>
				</div>				
				
								
				
								
				
			</div>

			
			<!-- pages -->
			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>


				
			
			




		</div>
	</div>
	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}