{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>個人知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>我所上傳的文件</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人訂閱</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人收藏</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		<div class="doclist">
			<div class="doclist_fun">
				<div class="doclist_search">
					<input type="text" class="i_search" placeholder="檢索知識">
					<i class="fas fa-search"></i>
				</div>
			</div>
			

			<!-- pages -->
			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>

			
			<div class="myupload_table">
				<div class="table_row_th">
					<div class="cos_a">類型</div>
					<div class="cos_b">名稱</div>
					<div class="cos_c">建立時間</div>
					<div class="cos_c">修改時間</div>
					<div class="cos_c">位置</div>
				</div>

				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a word"><i class="far fa-file-word"></i></div>
					<div class="cos_b">因應流感大流行備援人力計劃表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a excel"><i class="far fa-file-excel"></i></div>
					<div class="cos_b">人員聯絡表</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>


				<div class="table_row">
					<div class="cos_a others"><i class="far fa-file"></i></div>
					<div class="cos_b">其他檔案類型</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a ppt"><i class="far fa-file-powerpoint"></i></div>
					<div class="cos_b">投影片</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a text"><i class="far fa-file-alt"></i></div>
					<div class="cos_b">文字檔</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a pdf"><i class="far fa-file-pdf"></i></div>
					<div class="cos_b">PDF檔案</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a zip"><i class="far fa-file-archive"></i></div>
					<div class="cos_b">壓縮檔</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a iimg"><i class="far fa-file-image"></i></div>
					<div class="cos_b">圖片檔</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a video"><i class="far fa-file-video"></i></div>
					<div class="cos_b">影片檔</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>
				<div class="table_row">
					<div class="cos_a audio"><i class="far fa-file-audio"></i></div>
					<div class="cos_b">音訊檔</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c">107-04-27 10:30</div>
					<div class="cos_c"><a href="">01.事務流程說明</a></div>
				</div>

			</div>

			
			<!-- pages -->
			<div class="pages">
				<div class="page_front">
					<div class="num_page">
						<a href="" class="num_page_link"><i class="fas fa-chevron-left"></i> </a>
						<a href="" class="num_page_link">1</a>
						<a href="" class="num_page_link page_on">2</a>
						<a href="" class="num_page_link">3</a>
						<a href="" class="num_page_link">4</a>
						<a href="" class="num_page_link">5</a>
						<a href="" class="num_page_link"><i class="fas fa-chevron-right"></i></a>
					</div>
					<div class="jump_to-page">
						跳至
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
						頁	
					</div>
				</div>

				<div class="page_back">
					<div class="this_page">
						每頁
						<select name="" id="">
							<option value="">20</option>
							<option value="">30</option>
							<option value="">40</option>
							<option value="">50</option>
						</select>
						筆
					</div>
					<div class="page_info">第2頁，21-40筆，共100筆</div>
				</div>
			</div>


				
			
			




		</div>
	</div>
	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}