{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>機關知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>新竹總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>台南總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>高雄總局</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>資訊安全管理委員會</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
				<h6>知識管理規劃推動小組</h6>
					<i class="fas fa-angle-down"></i>
				</div>

			</div>
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		<div class="doclist">
			<div class="doclist_fun">
				<div class="doclist_search">
					<input type="text" class="i_search" placeholder="檢索知識">
					<i class="fas fa-search"></i>
				</div>
			</div>

			<div class="add_keyword">
				新增關鍵字 <input type="text" class="i-add-keyword">
				<div class="add_btn">新增</div>
			</div>

			
			<div class="addkeyword_table">
				
				<div class="table_row_th">
					<div class="cos_a">關鍵字</div>
					<div class="cos_b">修改時間</div>
					<div class="cos_c">刪除</div>
				</div>

				<div class="table_row">
					<div class="cos_a">標準檢驗</div>
					<div class="cos_b ">107-04-27 10:30</div>
					<div class="cos_c cross"><i class="fas fa-times-circle"></i></div>
				</div>
				<div class="table_row">
					<div class="cos_a">玩具成份</div>
					<div class="cos_b ">107-04-27 10:30</div>
					<div class="cos_c cross"><i class="fas fa-times-circle"></i></div>
				</div>

				<div class="table_row">
					<div class="cos_a">標準檢驗</div>
					<div class="cos_b ">107-04-27 10:30</div>
					<div class="cos_c cross"><i class="fas fa-times-circle"></i></div>
				</div>
				<div class="table_row">
					<div class="cos_a">玩具成份</div>
					<div class="cos_b ">107-04-27 10:30</div>
					<div class="cos_c cross"><i class="fas fa-times-circle"></i></div>
				</div>
				<div class="table_row">
					<div class="cos_a">玩具成份</div>
					<div class="cos_b ">107-04-27 10:30</div>
					<div class="cos_c cross"><i class="fas fa-times-circle"></i></div>
				</div>

				
			</div>




				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

			
			




		</div>
	</div>
	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}