{# index.twig #}
{% extends "/_template/layout.twig" %}

{% block page %}



<div class="institutional_knowledge_base_wrapper">
	
	<!-- left_pillar -->
	<div class="institutional_knowledge_base_left">
		<div class="switch_foldup_icon left_burger">
			<i class="fas fa-bars"></i>
		</div>

		<div class="left_pillar">
			<div class="left-title">
				<h6>個人知識庫</h6>
			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>我所上傳的文件</h6>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>

			</div>

			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人訂閱</h6>
					<i class="fas fa-angle-down"></i>
				</div>
				<div class="inside_item">
					<div class="subitem">第一組</div>
					<div class="subitem">第二組</div>
					<div class="subitem">第三組</div>
					<div class="subitem">第四組</div>
					<div class="subitem">法務室</div>
					<div class="subitem">資料中心</div>
					<div class="subitem">總局商品安全諮詢中心</div>
				</div>
			</div>
			<div class="left_pillar_item">
				<div class="unit_block">
					<h6>個人收藏</h6>
					<i class="fas fa-angle-down"></i>
				</div>
			</div>
			
		</div>	
	</div>




	<!-- center -->

	<div class="institutional_knowledge_base_content">
		
		<div class="bread_crumbs">
			<a href="">首頁</a> / <a href="">知識管理</a> / <a href="">台北總局</a>  / <a href="">第一組</a> / <p>第一科 </p>
		</div>

		<div class="doclist">
			<div class="upload_file_limit">

				<div class="tag_row">
					<div class="tag_item">機關知識庫</div>
					<div class="tag_item">文件暫存區</div>
					<div class="tag_item">主題專區</div>
				</div>

				<div class="upload_file_limit_wrapper">

					<div class="aside_link">
						<a href="">台北總局</a>
						<a href="">基隆分局</a>
						<a href="">新竹分局</a>
						<a href="">臺中分局</a>
						<a href="">臺南分局</a>
						<a href="">高雄分局</a>
						<a href="">台北總局</a>
						<a href="">花蓮分局</a>
					</div>

					<div class="upload_file_limit_setting">

						<div class="unit_t">台北總局</div>
						<div class="upload_file_limit_row">

							<div class="upload_file_limit_folder">
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第三組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第五組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第七組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第九組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>

							</div>


							<div class="upload_file_limit_folder">
								<div class="system_data_row">
									<div class="t_sysytem">第二組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第四組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">第一組</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">資料中心</div>
									<input type="text" placeholder="100">
									MB
								</div>
								<div class="system_data_row">
									<div class="t_sysytem">資料中心</div>
									<input type="text" placeholder="100">
									MB
								</div>
							</div>
						</div>
					</div>

				</div>


				<div class="submit_area" style=" border-top: 1px solid #eee">
					<div class="reset_go">全部恢復預設值</div>
					<div class="submit_btn">儲存</div>
				</div>

			</div>
		</div>
			

	</div>

	


	<!-- right_pillar -->
	<!-- <div class="institutional_knowledge_base_right">
		<div class="switch_foldup_icon right_burger">
			<i class="fas fa-bars"></i>
		</div>
		<div class="right_pillar">

			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>
			<div class="statistics">
				<h5>知識建立時間統計</h5>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
				<div class="right_pillar_data">
					<h6>2018</h6>
					<p>183</p>
				</div>
			</div>


		</div>

	</div> -->



</div>





<div class="clear"></div>

		


{% endblock %}