*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

.top_header_wrapper {
  background: #FFF;
  width: 100%; }

.top_header {
  background: #FFF;
  height: 80px;
  width: 1044px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.top_header .logo {
  width: 20%; }

.top_header .logo img {
  display: block;
  width: 150px; }

.top_header .search_w {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.top_header .search_w .advance_search {
  display: block;
  width: 96px;
  height: 38px;
  background: #419fe3;
  color: #FFF;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.top_header .search_w .top_search {
  width: 400px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.top_header .search_w .top_search .mainsearch {
  width: 370px;
  border: none;
  height: 30px;
  outline: 0;
  padding-left: 10px; }

.top_header .search_w .top_search .mainsearch:-ms-input-placeholder {
  color: #cccccc; }

.top_header .search_w .top_search .mainsearch::placeholder {
  color: #cccccc; }

.top_header .search_w .top_search i {
  color: #419fe3;
  margin-right: 10px; }

.top_header .top_mention {
  height: 50px;
  width: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center; }

.top_header .top_mention .font_size {
  margin-left: 40px;
  cursor: pointer; }

.top_header .top_mention .alert {
  margin-left: 40px;
  position: relative;
  cursor: pointer; }

.top_header .top_mention .alert i {
  font-size: 18px; }

.top_header .top_mention .alert .num {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #f5a623;
  font-size: 12px;
  color: #FFF;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  right: -15px;
  top: -12px; }

.top_header .top_mention .member {
  margin-left: 40px;
  cursor: pointer; }

.top_header .top_mention .member i {
  font-size: 14px; }

.top_header_menu {
  background: #FFF;
  height: 54px;
  margin-bottom: 30px;
  border-top: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.top_header_menu ul {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.top_header_menu ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.top_header_menu ul li a {
  display: block;
  height: 60px;
  color: #59778c;
  font-size: 16px;
  padding: 0 35px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.top_header_menu ul li a .bottom_line {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  background: #419fe3;
  opacity: 0;
  transition: all .2s; }

.top_header_menu ul li a:hover .bottom_line {
  opacity: 1; }

.menu_self {
  color: #419fe3 !important; }

.menu_self .bottom_line {
  opacity: 1  !important; }

.index_setting {
  width: 1044px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center; }

.index_setting .setting_btn {
  color: #419fe3;
  font-size: 12px;
  margin-right: 10px; }

.fun_item_wrapper {
  width: 1044px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.fun_item_wrapper p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center; }

.fun_item_wrapper .fun_item {
  background: #FFF;
  width: 128px;
  height: 150px;
  padding: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-top: 35px;
  transition: all .3s;
  position: relative; }

.fun_item_wrapper .fun_item:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  background: #e8eaec;
  top: 25%;
  right: 0; }

.fun_item_wrapper .fun_item i {
  font-size: 24px; }

.fun_item_wrapper .fun_item:hover {
  background: #fafafa;
  transform: scale(1.08); }

.fun_item_wrapper .fun_item_add {
  background: #FFF;
  width: 128px;
  height: 150px;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #419fe3;
  cursor: pointer;
  transition: all .3s; }

.fun_item_wrapper .fun_item_add:hover {
  background: #FFF;
  transform: scale(1.08);
  border: 1px solid #59778c; }

.grid_section {
  width: 1044px;
  margin: 0 auto;
  color: #FFF; }

.block_title {
  height: 46px;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
  font-weight: bold; }

.block_title .front {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #59778c; }

.block_title .front i {
  margin-right: 5px; }

.block_title .front h6 {
  font-size: 16px;
  color: #59778c; }

.block_title .fun_icons i {
  color: #ddd; }

.index_calender {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.index_attendance_records {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.index_attendance_records .index_attendance_records_time {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.index_attendance_records .index_attendance_records_time .index_attendance_records_date {
  width: 40%;
  height: 250px;
  padding: 0 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start; }

.index_attendance_records .index_attendance_records_time .index_attendance_records_date .i-year {
  color: #666;
  font-size: 18px;
  margin-bottom: 12px; }

.index_attendance_records .index_attendance_records_time .index_attendance_records_date .i-today {
  color: #59778c;
  font-size: 36px;
  margin-bottom: 12px;
  font-weight: 900; }

.index_attendance_records .index_attendance_records_time .index_attendance_records_date .i-week {
  color: #666;
  font-size: 18px;
  margin-bottom: 12px; }

.index_attendance_records .index_attendance_records_time .index_attendance_records_clock {
  width: 60%;
  height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.index_news {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background: #FFF; }

.index_news .tab_section {
  width: 100%;
  height: 46px;
  background: #FFF;
  padding: 0 24px;
  border-bottom: 1px solid #DDD;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #59778c;
  font-weight: 700; }

.index_news .tab_section .tab_btn {
  height: 46px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
  position: relative; }

.index_news .tab_section .tab_btn h6 {
  font-size: 16px; }

.index_news .tab_section .tab_btn i {
  margin-right: 3px; }

.index_news .index_news_content {
  width: 100%; }

.index_news .index_news_content .content_row {
  height: 38px;
  padding: 0 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.index_news .index_news_content .content_row:nth-child(even) {
  background: #fafafa; }

.index_news .index_news_content .content_row .cos_a {
  width: 25%;
  color: #444;
  font-size: 16px; }

.index_news .index_news_content .content_row .cos_b {
  width: 50%;
  color: #444;
  font-size: 16px; }

.index_news .index_news_content .content_row .cos_c {
  width: 25%;
  color: #444;
  font-size: 16px; }

.search_section {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #eee;
  background: #fafafa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px; }

.search_section .i-input {
  margin-right: 10px;
  width: 320px;
  height: 36px;
  border-radius: 4px;
  background: #FFF;
  border: solid 1px #cccccc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.search_section .i-input .index_news_input {
  width: 290px;
  height: 30px;
  border: none;
  background: #FFF;
  padding-left: 10px; }

.search_section .i-input .index_news_input:-ms-input-placeholder {
  color: #ccc; }

.search_section .i-input .index_news_input::placeholder {
  color: #ccc; }

.search_section .i-input i {
  color: #419fe3; }

.search_section .i-select .index_news_select {
  width: 104px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background: #FFF; }

.on_self {
  border-bottom: 2px solid #419fe3 !important;
  color: #419fe3 !important; }

.on_self h6 {
  color: #419fe3 !important; }

.index_links {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.index_contacts {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.index_department_calender {
  background: #f6f8fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative; }

.and_more {
  width: 100px;
  display: block;
  float: right;
  color: #419fe3;
  font-size: 14px;
  font-weight: 700;
  margin-top: 16px;
  text-align: right;
  margin-right: 30px; }

.links {
  width: 100%; }

.links .links_title {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
  background: rgba(65, 159, 227, 0.05); }

.links .links_title .link_name {
  height: 36px;
  width: 80%;
  color: #222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #419fe3; }

.links .links_title .link_bureau {
  height: 36px;
  width: 20%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.links .links_title .link_name {
  color: #59778c; }

.links .links_title .link_bureau {
  color: #59778c; }

.links .links_row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px; }

.links .links_row .link_name {
  height: 36px;
  width: 80%;
  color: #222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #419fe3; }

.links .links_row .link_bureau {
  height: 36px;
  width: 20%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.links .links_row:nth-child(odd) {
  background: #fafafa; }

.contacts {
  width: 100%; }

.contacts .contacts_title {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
  background: rgba(65, 159, 227, 0.05); }

.contacts .contacts_title .contacts_name {
  height: 36px;
  width: 30%;
  color: #222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #419fe3; }

.contacts .contacts_title .contacts_bureau {
  height: 36px;
  width: 40%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.contacts .contacts_title .contacts_tel {
  height: 36px;
  width: 30%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.contacts .contacts_title .contacts_name {
  color: #59778c; }

.contacts .contacts_title .contacts_bureau {
  color: #59778c; }

.contacts .contacts_title .contacts_tel {
  color: #59778c; }

.contacts .contacts_row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px; }

.contacts .contacts_row .contacts_name {
  height: 36px;
  width: 30%;
  color: #222;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  color: #419fe3; }

.contacts .contacts_row .contacts_bureau {
  height: 36px;
  width: 40%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.contacts .contacts_row .contacts_tel {
  height: 36px;
  width: 30%;
  color: #444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

.contacts .contacts_row:nth-child(odd) {
  background: #fafafa; }

body {
  font-family: Microsoft JhengHei;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  background: #f2f2f2;
  color: #59778c; }

p, h6, h5, h4, h3, h2 {
  line-height: 1.4;
  font: 14px;
  color: #59778c; }

a {
  color: #59778c; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
